.wrapper {
display: block;
}

.text {
    font-size: 20px;
    font-weight: 600;
    margin-right: 16px;
    color: var(--main-text-color);
}

.select {
    appearance: none;
    -webkit-appearance: none;
    width: 200px;
    padding: 8px 32px 8px 12px;
    border: 1px solid var(--grey-divider);
    border-radius: 6px;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: var(--light-text-color);
}