.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.label {
    font-size: 20px;
    font-weight: 600;
    margin-right: 16px;
    color: var(--main-text-color);
}

.input {
    width: 112px;
    padding: 8px 16px;
    border: 1px solid var(--grey-divider);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 5px;
}

.input::placeholder {
    color: var(--main-text-color);
}

.error {
    width: 100%;
    color: red;
    font-size: 16px;
}