.saleBox {
    padding: 4px 4px;
    background-color: var(--blue-btn);
    border-radius: 6px;
}

.saleNumber {
    color: var(--white-text);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
}