.priceBox {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.priceCurrent {
    font-size: 64px;
    line-height: 110%;
    font-weight: 700;
    color: var(--main-text-color);
}

.priceOld {
    font-size: 40px;
    font-weight: 500;
    color: var(--light-grey-text);}