.checkboxWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.hiddenCheckbox {
    display: none;
}

.customCheckbox {
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, border-color 0.2s;
}

.customCheckbox.checked {
    background-color: #0D50FF;
    border: none;
}

.customCheckbox svg {
    width: 20px;
    height: 20px;
    display: none;
}

.customCheckbox.checked svg {
    display: block;
}