.counter {
    display: flex;
    width: auto;
    flex-basis: 45%;
    justify-content: space-between;
    height: 100%;
    border-top: 1px solid var(--grey-divider);
    border-bottom: 1px solid var(--grey-divider);
    border-radius: 6px;
}

.quantity {
    padding: 16px 0px;
    min-width: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: var(--h4-font-size);
    font-weight: 600;
    color: var(--main-text-color);
    transition: all 0.3s;
}

.quantityBtn {
    padding: 17px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--grey-divider);
    border-top: none;
    border-bottom: none;
    border-radius: 6px;
    outline: none;
    background-color: var(--white-text);
    cursor: pointer;
}

.quantityBtn:hover {
    background-color: var(--grey-divider);
}